.banner__background {
  background-color: #f8f5f7;
  padding-top: 7%;
}

.banner__text {
  color: #f8f5f7;
  padding: 2% 4%;
  border-radius: 12px;
  background-color: black;
  opacity: 0.8;
}

.banner__text--small {
  font-size: 14px;
}

@media only screen and (max-width: 992px) {
  .banner {
    display: block
  }

  .application-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 24px;
    margin-bottom: 42px;
  }

  .application-text {
    align-items: center;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 0%;
  }

  .banner__text {
    padding: 2% 4%;
  }
}

@media only screen and (max-width: 540px) {
  .application-text h1 {
    font-size: 44px;
    font-family: Barlow;
  }

  .application-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 24px;
    margin-bottom: 42px;
  }

  .application-text {
    margin-top: 36px;
    align-items: center;
    text-align: left;
    margin-left: 4%;
    margin-right: 4%;
    padding-bottom: 10%;
  }

  .banner__text {
    padding: 2% 4%;
  }
}