.section-partners {
  text-align: center;
  align-items: center;
  padding: 5% 7% 10% 7%;
  position: relative;
}

.heading-box {
  text-align: left;
}

.link {
  color: #03d9d6;
  margin-top: -2.4rem;
  font-weight: 400;
  transition: all .2s;
}

.link:hover {
  box-shadow: 0 1rem 2rem rgba(#000, .15);
  transform: translateY(-2px);
  cursor: pointer;
  font-weight: 500;
}

.logo {
  width: 70%;
  filter: grayscale(1);
}

.logo:hover {
  filter: none;
  width: 72%;
}

@media only screen and (max-width: 900px) {
  .section-partners {
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
  }
}

@media only screen and (max-width: 540px) {
  .section-partners {
    height: fit-content;
    padding: 0% 7%;
  }

  .heading-box {
    text-align: center;
  }

  .logo {
    width: 100%;
  }
}