.services {
  padding-top: 2%;
  padding-bottom: 4%;
}

.services__title {
  align-items: center;
  text-align: center;
  margin-bottom: 0%;
  padding-top: 5%;
  margin-top: 0%;
  text-shadow: .5rem 1rem 2rem rgba(black, .2);
  font-family: archiabold,"DM Sans",Helvetica,sans-serif;
  /* animation: moveInBottom 1s 1.5s ease-out;
  animation-fill-mode: backwards; */
}

.service-card {
  transition: all .4s ease; 
  cursor: default;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-card__title {
  font-family: archiabold,"DM Sans",Helvetica,sans-serif;
}

.service-card__text {
  text-align: justify;
}

.service-card__details {
  text-align: justify;
  color: grey;
  font-size: 1.4rem;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
