.section-services {
  padding: 5% 7% 4% 7%;
}

.heading-secondary {
  text-align: center;
}

.service-box {
  transition: all .4s ease; 
  cursor: default;
}

.service-box:hover {
  transform: scale(1.05);
}

.service-box__title {
  align-items: center;
  text-align: center;
  margin-bottom: 0%;
  margin-top: 0%;
  text-shadow: .5rem 1rem 2rem rgba(black, .2);
  font-family: archiabold,"DM Sans",Helvetica,sans-serif;
  /* animation: moveInBottom 1s 1.5s ease-out;
  animation-fill-mode: backwards; */
}

.service-box__text {
  text-align: justify;
}

.service-box__comments {
  text-align: justify;
  color: grey;
  font-size: 1.4rem;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
