.header {
  display: flex;
  height: 70vh;;
  flex-direction: row;
  padding-bottom: 5%;
  padding-top: 1%;
  background-attachment: fixed;
  justify-content: space-between;
  background-image: linear-gradient(45deg, black, transparent), url(../../assets/blue/blue2.jpg);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  position: relative;
}

.header__text-box {
  position: absolute;
  top: 44%;
  left: 38%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.heading-primary h1 {
  font-size: 6.9rem;
  color: white;
  font-family: archiabold,"DM Sans",Helvetica,sans-serif;
}

.heading-primary--sub {
  color: white;
  text-shadow: 2px 2px 3px rgb(255 255 255 / 10%);
  font-size: 1.8rem;
  padding-bottom: 2%;
  font-weight: 400;
  animation: moveInRight 1s ease-out;
}

.header__btn-box {
  animation: moveInBottom 1s 1s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 992px) {
  .header {
    display: block;
    padding-bottom: 10%;
  }

  .header__text-box {
    margin: 0px;
    top: 50%;
    left: 50%;
    width: 86%;
  }

  .heading-primary--sub {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 540px) {
  .header__text-box {
    align-items: center;
    text-align: center;
  }

  .heading-primary h1 {
    font-size: 4.4rem;
    font-family: Barlow;
  }
}