.application-header {
  padding: 2% 7% 5%;
  background-color: #F8F5F7;

  &__text {

    &--large {
      font-size: 5.8rem;
      font-weight: 700;
      text-align: center;
      justify-content: center;

      @include respond(phone) {
        font-size: 3.2rem;
      }
    }
  }
}