.section-gallery {
  padding: 5% 14%;

  @include respond(phone) {
    padding: 4% 7%;
  }
}

.photo {
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
  color: white;
  overflow: hidden;
  height: 98%;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  &__image {
    width: 100%;
    min-height: 100%;
    transition: transform .4s;
    border-radius: 2px;
    object-fit: cover;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 2s;
    text-transform: uppercase;

    &--main {
      text-transform: uppercase;
      color: #08D9D6;
      font-weight: 600;
    }

    &--sub {
      font-size: 20px;
    }

  }

  &:hover &__image {
    opacity: 0.4;
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  }

  &:hover &__text {
    opacity: 1;
  }
}