.call-to-action {
  padding: 5% auto 4% auto;
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url(../../assets/work.jpg);
  background-position-y: 140%;
  background-size: cover;
  background-attachment: fixed;
  height: 45vh;
  margin-top: -5%;
}

.call-to-action h1 {
  margin-bottom: 0%;
  color: white;
  font-size: 58px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: .5rem 2rem 4rem rgba(0, 0, 0, .8);
  padding-top: 7%;
  padding-left: 7%;
  animation: moveInRight 1s ease-out;
}

.call-to-action__buttons {
  padding-top: 2%;
  padding-left: 7%;
  animation: moveInBottom 1s 1s ease-out;
  animation-fill-mode: backwards;
}

.text-section {
  padding: 2% 24% 2% 24%;
  text-align: justify;
}

.text-section h2 {
  text-align: center;
}

.process-section {
  text-align: center;
  margin-bottom: 4%;
  position: relative;
}

.process-section ul {
  display:inline-flex;
  list-style: none;
  text-align: center;
  padding: 0 14%;
}

.process-section ul::before {
  position: absolute;
  left: 260px;
  top: 130px;
  display: block;
  width: 58%;
  height: 0;
  border-top: 1px dashed #bbb;
  content: "";
}

.process-section li {
  display: inline-block;
}

.process-icon-box {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #bbb;
  width: 140px;
  height: 140px;
  text-align: center;
  transition: all .4s;
}

.process-section li:hover .process-icon-box {
  background-color: #08D9D6;
  box-shadow: 0 0 0 6px rgb(0 0 0 / 10%);
}

.process-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .4s;
}

.process-section li:hover .process-icon {
  color: white;
  animation: right .2s ease-in-out;
}

.process-detail {
  margin: 0 5%;
  max-width: 20rem;
}

@keyframes right {
  0% {
    transform: translate(-100%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@media only screen and (max-width: 992px) {
  .text-section {
    padding: 2% 7% 2% 7%;
    text-align: justify;
  }

  .text {
    align-items: center;
    text-align: justify;
  }

  .process-section ul {
    display: table-cell;
    vertical-align: middle;
    list-style: none;
    text-align: center;
    padding: 0 14%;
  }

  .process-section li {
    vertical-align: middle;
  }

  .process-detail {
    margin: 0 5%;
    max-width: 90%;
  }

  .process-section ul::before {
    opacity: 0;
  }

  .call-to-action {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url(../../assets/work.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 92%;
  }

  .call-to-action__text {
    padding-right: 7%;
  }
}
