.header {
  padding-left: 7%;
  padding-right: 7%;
  background-color: #F8F5F7;
}

.header__text--aligned {
  text-align: justify;
}

.header__text--large {
  font-size: 58px;
  font-weight: 700;
  text-align: center;
  justify-content: center;
};

@media only screen and (max-width: 540px) {
  .header__title {
    font-size: 3.2rem;
  }
}