.form {
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 3%;
  padding-bottom: 5%;
  text-align: center;
}

.form h2 {
  padding-bottom: 2%;
}

@media only screen and (max-width: 540px) {
  .form {
    padding-left: 7%;
    padding-right: 7%;
  }
}