.grad-banner{
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(../assets/grad/1.jpeg);
  background-position: bottom left;
  background-size: cover;
  background-attachment: fixed;
  height: 48vh;
  margin-top: -5%;
}

.grad-banner__text {
  padding: 7%;
  text-align: left;
}

.grad-banner h1 {
  color: white;
  margin: 0;
  font-size: 58px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: .5rem 2rem 4rem rgba(0, 0, 0, .8);
  padding-bottom: 2%;
  animation: moveInRight 1s ease-out;
}

.grad-banner__text a {
  animation: moveInBottom 1s 1s ease-out;
  animation-fill-mode: backwards;
}

.grad-banner h1 span{
  font-size: 58px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: .5rem 2rem 4rem rgba(0, 0, 0, .8);
}

.grad-banner a {
  text-decoration: none;
}

.program {
  padding: 2% 24% 0.2%;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.icon__picture {
  font-size: 8.6rem !important;
}

.icon__label {
  text-align: center;
  margin-top: 0;
}

.teachers-section {
  padding: 0% 24%;
}

.teachers-section ul {
  display:inline-flex;
  list-style: none;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.teachers-section li {
  display: inline-block;
}

.teacher-icon-box-1 {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #F8F5F7;
  width: 140px;
  height: 140px;
  text-align: center;
  transition: all .4s;
  background-image: url(../assets/grad/7.png);
  background-size: cover;
}

.teacher-icon-box-1:hover {
  cursor: pointer;
}

.teacher-icon-box-2 {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #F8F5F7;
  width: 140px;
  height: 140px;
  text-align: center;
  transition: all .4s;
  background-image: url(../assets/grad/4.png);
  background-size: cover;
}

.teacher-icon-box-2:hover {
  cursor: pointer;
}

.teacher-icon-box-3 {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #F8F5F7;
  width: 140px;
  height: 140px;
  text-align: center;
  transition: all .4s;
  background-image: url(../assets/grad/5.png);
  background-size: cover;
}

.teacher-icon-box-3:hover {
  cursor: pointer;
}

.teacher-icon-box-4 {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #F8F5F7;
  width: 140px;
  height: 140px;
  text-align: center;
  transition: all .4s;
  background-image: url(../assets/grad/6.png);
  background-size: cover;
}

.teacher-icon-box-4:hover {
  cursor: pointer;
}

.testimonials-section {
  padding: 0% 20% 0% 24%;
}

.card {
  height: 40vh;
  position: relative;
  box-sizing: border-box;
  display: flex;
  text-decoration: none;
  border: 2px solid #99258e;
  border-radius: 6px;
  margin: 4% 0 8% 0;
  display: flex;
}

.card__image {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-image: url(../assets/grad/8.png);
  width: 40%;
  height: 100%;
  padding: 0;
  background-size: cover;
}

.card__inner {
  width: 60%;
  padding: 4%;
}

.card__name {
  color: #99258e;
  text-align: right;
}

.application {
  background-color: #F8F5F7;
  padding: 2% 0;
}

.application__text-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.application__text {
  display: block;
}

.application__text h2 {
  font-size: 2.8rem;
  margin-bottom: 0;
}

.application__text h4 {
  margin-top: 2%;
  font-weight: 400;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
