.partners {
padding: 2% 14% 4% 14%;
}

.partners-gallery-category {
  text-align: justify;
}

.title {
  text-align: center;
}

.title-underline {
  width: 200px;
  border: 2px solid #08D9D6;
  margin: -20px auto 20px auto;
}

.gallery {
  margin-top: 7%;
  margin-bottom: 5%;
}

.logo {
  width: 80%;
  text-align: center;
}

.partners__divider {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin: 0% auto 4% auto;
}

@media only screen and (max-width: 900px) {
  .partners__title {
    text-align: center;
  }

  .logo {
    text-align: center;
    align-items: center;
    width: 70%;
  }
}