.position__title {
text-align: center;
margin-top: 5%;
}

.position__title h4 {
  text-transform: uppercase;
  color: #797979;
  font-weight: 400;
}

.position__title p {
  color: #B2B2B2;
  font-family: 'Barlow';
  margin-top: 0%;
  margin-bottom: 2%;
}

.position__divider {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
}

.position__description {
  padding: 2% 24% 10% 24%;
  background-color: #F8F5F7;
  text-align: justify;
}

.position__actions {
  margin-top: 6%;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .position__title {
    padding: 2% 7% 10% 7%;
  }

  .position__description {
    margin-top: 10%;
    padding: 2% 14% 10% 14%;
    }
}
