.service-box {
  transition: all .4s ease; 
  cursor: default;

  &__icon {
    transition: all .3s ease;
  }

  &__title {
    transition: all .3s ease;
  }

  &__comments {
    text-align: justify;
    color: $color-grey-dark;
    font-size: 1.4rem;
  }

  &:hover .service-box__title {
    transform: scale(1.1);
  }

  &:hover .service-box__icon {
    transform: scale(1.1);
  }
}