.header {
  display: flex;
  height: 40vh;;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, .5), transparent), url(../../assets/sh.jpg);
  background-size: cover;
  position: relative;
  background-position: bottom;
  background-attachment: fixed;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 38%;
  transform: translate(-50%, -50%);
  align-items: center;
  width: 60%;
}

.heading-primary h1 {
  color: white;
  font-size: 58px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: .5rem 2rem 4rem rgba(0, 0, 0, .8);
  padding-top: 5%;
  text-align: left;
}

.heading-primary--sub {
  color: white;
  text-shadow: 2px 2px 3px rgb(255 255 255 / 10%);
  font-size: 1.8rem;
  padding-bottom: 2%;
  font-weight: 400;
  animation: moveInRight 1s ease-out;
}

.text {
  padding: 2% 24% 2% 24%;
  text-align: justify;
}

.section-advantages {
  background-color: #f8f5f7;
  padding: 1% 24% 0% 24%;
}

.advantage-box {
  display: inline-flex;
  text-align: justify;
}

.adv__icon {
  font-size: 5rem !important;
  color: #08D9D6;
  padding-right: 8%;
}

.adv__title {
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .header {
    background-position: 173%;
    background-size: cover;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .5)), url(../../assets/sh.jpg);
  }

  .heading-primary h1 {
    font-size: 4.9rem;
  }

  .text {
    padding: 1% 7% 0% 7%;
  }

  .text-title {
    text-align: center;
  }

  .section-advantages {
    background-color: #f8f5f7;
    padding: 1% 7% 0% 7%;
  }
}