.section-managment {
  padding: 2% 14% 4% 14%;
}

.title-container {
  width: 100%;
  text-align: left;
}

.title {
  text-transform: uppercase;
}


@media only screen and (max-width: 900px) {
  .title-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}