.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 106, 105, 0.75);
}

.modal {
  position: fixed;
  top: 14vh;
  left: 20%;
  width: 60%;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.37);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  height: 80vh;
  overflow-y: auto;
}

.icon {
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all .3s;
}

.icon:hover {
  cursor: pointer;
  color: #039795;
}

@media (max-width: 900px) {
  .modal {
    width: 86%;
    left: 7%;
    height: 72vh;
  }
}

@media (max-width: 600px) {
  .modal {
    width: 86%;
    left: 7%;
    height: 56vh;
    overflow: auto;
    top: 24vh;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}